body {
  margin: 0;
  line-height: normal;
}
.rectangle-div6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-500);
  width: 1440px;
  height: 1024px;
}
.om-meg-i3 {
  left: 209px;
  display: inline-block;
  font-weight: 600;
  width: 180px;
  height: 46px;
}
.booking3,
.om-meg-i3,
.shop-i3 {
  position: absolute;
  top: 23px;
}
.booking3 {
  left: 312px;
  display: inline-block;
  font-weight: 600;
  width: 180px;
  height: 46px;
}
.shop-i3 {
  left: 413px;
}
.bli-medlem3,
.kontakt-meg-i4,
.shop-i3 {
  display: inline-block;
  font-weight: 600;
  width: 180px;
  height: 46px;
}
.kontakt-meg-i4 {
  position: absolute;
  top: 23px;
  left: 486px;
}
.bli-medlem3 {
  left: 1216px;
}
.bli-medlem3,
.logg-inn5,
.logo-1-icon3 {
  position: absolute;
  top: 23px;
}
.logg-inn5 {
  left: 1338px;
  display: inline-block;
  font-weight: 600;
}
.logo-1-icon3 {
  left: 36px;
  width: 132px;
  height: 111px;
  overflow: hidden;
}
.shopping-cart-1-icon3 {
  position: absolute;
  top: 17px;
  left: 1171px;
  width: 32px;
  height: 33px;
  object-fit: cover;
}
.booking4 {
  position: absolute;
  top: 219px;
  left: 55px;
  font-size: var(--font-size-4xl);
  display: inline-block;
  font-weight: 600;
  color: var(--color-teal-200);
  width: 211px;
  height: 54px;
}
.rectangle-div7 {
  position: absolute;
  top: 313px;
  left: 49px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 798px;
  height: 358px;
}
.gruppetimer {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-xl);
}
.blank-line-p {
  font-size: var(--font-size-sm);
}
.blank-line-p,
.ukers-trening-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.kt-pr-uke-1450kr {
  margin-bottom: 0;
}
.kt-pr-uke-1450kr-2-kter-pr {
  margin: 0;
  padding-left: var(--padding-md);
}
.gruppetimer-9-ukers-trening {
  position: absolute;
  top: 333px;
  left: 69px;
  display: inline-block;
  font-weight: 600;
  font-family: var(--font-inherit);
  white-space: pre-wrap;
  width: 778px;
  height: 385px;
}
.rectangle-div8 {
  position: absolute;
  top: 711px;
  left: 49px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 798px;
  height: 197px;
}
.bestill,
.private-pt-timer-10-timer-a-4 {
  position: absolute;
  display: inline-block;
  font-weight: 600;
}
.private-pt-timer-10-timer-a-4 {
  top: 729px;
  left: 75px;
  font-family: var(--font-inherit);
  width: 754px;
  height: 158px;
}
.bestill {
  top: 326px;
  left: 936px;
  font-size: var(--font-size-lg);
  width: 155px;
  height: 68px;
}
.rectangle-div9 {
  position: absolute;
  top: 394px;
  left: 935px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 344px;
  height: 57px;
}
.timer-a-55-min {
  position: absolute;
  top: 410px;
  left: 949px;
  display: inline-block;
  font-weight: 600;
  width: 194px;
  height: 31px;
}
.rectangle-icon8 {
  position: absolute;
  top: 402px;
  left: 1216px;
  border-radius: var(--br-md);
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.rectangle-div10 {
  position: absolute;
  top: 483px;
  left: 936px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 344px;
  height: 57px;
}
.rectangle-icon9 {
  position: absolute;
  top: 488px;
  left: 1216px;
  border-radius: var(--br-md);
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.innlandet {
  position: absolute;
  top: 499px;
  left: 950px;
  display: inline-block;
  font-weight: 600;
  width: 194px;
  height: 31px;
}
.rectangle-div11 {
  position: absolute;
  top: 582px;
  left: 935px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 344px;
  height: 57px;
}
.rectangle-icon10 {
  position: absolute;
  top: 587px;
  left: 1216px;
  border-radius: var(--br-md);
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.hamar-i {
  position: absolute;
  top: 598px;
  left: 949px;
  display: inline-block;
  font-weight: 600;
  width: 194px;
  height: 31px;
}
.booking-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
